.catalogLink{
    background: var(--dark-green);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 42px;
    border-radius: 4px;
    margin-left: 34px;

    span{
        margin-right: 10px;
        font-size: 14px;
        line-height: 14px;
        color: #F4F8FB;
        font-family: var(--medium);
    }
}

@media(max-width: 700px){
    .catalogLink{
        margin-left: 0px;
    }
}