:root {
    // Colors
    --white: #fff;
    --black: #000;
    --dark-gray: #333;
    --light-gray: #999;
    --dark-green: #06A56C;
    --dark-blue: #060F42;
    --light-blue: #01579B;
    --yellow: #FFCD1B;
    --red: #EA4335;
    // Colors
  
    //Fonts
    --bold: 'Lato Bold';
    --medium: 'Lato Medium';
    --regular: 'Roboto Regular';
    //Fonts
}